.Caption {
  font-size: 28px;
  font-weight: 700;
  background: linear-gradient(94deg, #98b0ff 0%, #42ffa4 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  letter-spacing: -0.02em;
}

@media (min-width: 768px) {
  .Caption {
    font-size: 36px;
  }
}
